body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("/imagenes/fondo\ ciudad.jpg");
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
}

.box {
    font-family: 'Roboto', 'Arial';
    font-style: italic;
    color: white;
}

img {
    height: 70px;
}

.boxcontacto {
    display: block;
    text-align: right;
}

.resto {
    height: fit-content;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.cuerpoPagina {
    height: 1000px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.FX {
    transform: translateY(0);
    opacity: 1;
}

.FX.active {
    transform: translateY(110vh);
    opacity: 0;
    transition: 2s all ease;
}
