body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', 'Arial';
    font-style: italic;
}

.bg {
    background-image: url('imagenes/fondo ciudad.jpg');
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
}

.box {
    color: white;
}

img {
    height: 70px;
}

.boxcontacto {
    display: block;
    text-align: right;
}

.resto {
    height: fit-content;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.cuerpoPagina {
    height: fit-content;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 30vw;
    margin: 1vw;
}

.imagen {
    height: 30vh;
    padding: 1vw;
    object-fit: scale-down;
}
